.header {
  background-color: #fff; }
  .header h1 a {
    color: #000; }
  .header-util li a i {
    color: #000; }

.sub-content {
  padding-top: var(--hh); }
.sub-inner {
  margin: 0 auto;
  padding: 5rem 1.25rem;
  max-width: 1200px; }
.sub-title {
  margin-bottom: 2.5rem; }
  .sub-title .title {
    font-size: 2.5rem;
    font-weight: 700;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: transform .5s linear, opacity .7s linear .3s;
    -moz-transition: transform .5s linear, opacity .7s linear .3s;
    -ms-transition: transform .5s linear, opacity .7s linear .3s;
    transition: transform .5s linear, opacity .7s linear .3s; }
    .sub-title .title.is-active {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      transform: none;
      opacity: 1; }
  .sub-title .text {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: transform .5s linear, opacity .7s linear .3s;
    -moz-transition: transform .5s linear, opacity .7s linear .3s;
    -ms-transition: transform .5s linear, opacity .7s linear .3s;
    transition: transform .5s linear, opacity .7s linear .3s; }
    .sub-title .text.is-active {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      transform: none;
      opacity: 1; }
  .sub-title .detail {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: flex-start;
    margin-top: 1.5rem;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: transform .5s linear, opacity .7s linear .3s;
    -moz-transition: transform .5s linear, opacity .7s linear .3s;
    -ms-transition: transform .5s linear, opacity .7s linear .3s;
    transition: transform .5s linear, opacity .7s linear .3s; }
    .sub-title .detail.is-active {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      transform: none;
      opacity: 1; }
    .sub-title .detail li {
      padding: 0.4rem 0.6rem 0.3rem;
      border: 1px solid #555;
      border-radius: 20px;
      background: #fff;
      text-align: center;
      font-size: 0.8rem;
      color: #555;
      line-height: 1.05rem; }
.sub-link {
  margin-bottom: 2.5rem;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: transform .5s linear, opacity .7s linear .3s;
  -moz-transition: transform .5s linear, opacity .7s linear .3s;
  -ms-transition: transform .5s linear, opacity .7s linear .3s;
  transition: transform .5s linear, opacity .7s linear .3s; }
  .sub-link.is-active {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1; }
  .sub-link.list {
    margin-top: 5rem;
    margin-bottom: 0; }
  .sub-link ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center; }
    .sub-link ul li {
      min-width: 12.5rem; }
      .sub-link ul li a {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 3rem;
        background: #0b7fab; }
        .sub-link ul li a::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          background: #0b7fab;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
          width: 2px;
          height: 0%; }
        .sub-link ul li a::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          background: #0b7fab;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
          width: 0%;
          height: 2px; }
        @media (hover: hover) and (pointer: fine) {
          .sub-link ul li a:hover {
            background: transparent; }
            .sub-link ul li a:hover::before {
              height: 100%; }
            .sub-link ul li a:hover::after {
              width: 100%; } }
        .sub-link ul li a span {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          color: #fff;
          font-size: 1rem; }
          .sub-link ul li a span::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            background: #0b7fab;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
            width: 2px;
            height: 0%; }
          .sub-link ul li a span::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            background: #0b7fab;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
            width: 0%;
            height: 2px; }
          @media (hover: hover) and (pointer: fine) {
            .sub-link ul li a span:hover {
              color: #0b7fab; }
              .sub-link ul li a span:hover:before {
                height: 100%; }
              .sub-link ul li a span:hover:after {
                width: 100%; } }
.sub-detail {
  margin-bottom: 2.5rem; }
  .sub-detail--img {
    position: relative;
    margin: 0 auto;
    padding: 0 3.5rem;
    max-width: 57rem;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: transform .5s linear, opacity .7s linear .3s;
    -moz-transition: transform .5s linear, opacity .7s linear .3s;
    -ms-transition: transform .5s linear, opacity .7s linear .3s;
    transition: transform .5s linear, opacity .7s linear .3s; }
    @media (max-width: 480px) {
      .sub-detail--img {
        padding: 0 2.5rem; } }
    .sub-detail--img.is-active {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      transform: none;
      opacity: 1; }
    .sub-detail--img-content {
      position: relative;
      height: 25rem; }
      @media (max-width: 480px) {
        .sub-detail--img-content {
          height: 17.5rem; } }
    .sub-detail--img-list {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: opacity .2s ease-in;
      -moz-transition: opacity .2s ease-in;
      -ms-transition: opacity .2s ease-in;
      transition: opacity .2s ease-in; }
      .sub-detail--img-list.active {
        opacity: 1;
        -webkit-transition: opacity .3s ease-in;
        -moz-transition: opacity .3s ease-in;
        -ms-transition: opacity .3s ease-in;
        transition: opacity .3s ease-in; }
      .sub-detail--img-list .img {
        width: 100%;
        height: 100%;
        border: 0.15rem solid #555;
        border-radius: 1.5rem;
        box-sizing: border-box;
        overflow: hidden; }
      .sub-detail--img-list img {
        width: 100%;
        height: 100%;
        object-position: top;
        object-fit: cover; }
      .sub-detail--img-list .text {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.5);
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
        .sub-detail--img-list .text p {
          text-align: center;
          color: #fff;
          font-size: 0.9rem; }
    .sub-detail--img-num {
      margin-top: 2rem;
      text-align: center; }
      .sub-detail--img-num p {
        font-size: 1.25rem;
        color: #555; }
        .sub-detail--img-num p .current {
          font-weight: 700;
          color: #333; }
    .sub-detail--img-pagination {
      position: absolute;
      top: 40%;
      left: 0;
      width: 100%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 1; }
      .sub-detail--img-pagination .btn {
        position: absolute; }
        .sub-detail--img-pagination .btn i {
          font-size: 2rem; }
        .sub-detail--img-pagination .btn-next {
          right: 0; }
        .sub-detail--img-pagination .btn:disabled {
          opacity: .5; }
  .sub-detail--text {
    margin-top: 5rem; }
    .sub-detail--text-box {
      margin-top: 2.5rem; }
      .sub-detail--text-box:first-of-type {
        margin-top: 0; }
      .sub-detail--text-box .title {
        font-family: "Lato", sans-serif;
        font-size: 1.75rem;
        font-weight: 700;
        opacity: 0;
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
        -webkit-transition: transform .5s linear, opacity .7s linear .3s;
        -moz-transition: transform .5s linear, opacity .7s linear .3s;
        -ms-transition: transform .5s linear, opacity .7s linear .3s;
        transition: transform .5s linear, opacity .7s linear .3s; }
        .sub-detail--text-box .title.is-active {
          -webkit-transform: none;
          -moz-transform: none;
          -ms-transform: none;
          transform: none;
          opacity: 1; }
      .sub-detail--text-box .text {
        padding-top: 1.25rem;
        font-size: 1rem;
        line-height: 1.75rem;
        color: #555;
        opacity: 0;
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
        -webkit-transition: transform .5s linear, opacity .7s linear .3s;
        -moz-transition: transform .5s linear, opacity .7s linear .3s;
        -ms-transition: transform .5s linear, opacity .7s linear .3s;
        transition: transform .5s linear, opacity .7s linear .3s; }
        .sub-detail--text-box .text:first-of-type {
          padding-top: 1.75rem; }
        .sub-detail--text-box .text.is-active {
          -webkit-transform: none;
          -moz-transform: none;
          -ms-transform: none;
          transform: none;
          opacity: 1; }
      .sub-detail--text-box .list {
        margin-top: 1.5rem;
        line-height: 1.25rem;
        opacity: 0;
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
        -webkit-transition: transform .5s linear, opacity .7s linear .3s;
        -moz-transition: transform .5s linear, opacity .7s linear .3s;
        -ms-transition: transform .5s linear, opacity .7s linear .3s;
        transition: transform .5s linear, opacity .7s linear .3s; }
        .sub-detail--text-box .list.is-active {
          -webkit-transform: none;
          -moz-transform: none;
          -ms-transform: none;
          transform: none;
          opacity: 1; }
        .sub-detail--text-box .list li {
          display: flex;
          margin-top: 0.75rem;
          font-size: 1rem; }
          @media (max-width: 480px) {
            .sub-detail--text-box .list li {
              flex-wrap: wrap; } }
          .sub-detail--text-box .list li:first-of-type {
            margin-top: 0; }
          .sub-detail--text-box .list li span {
            width: 7.5rem;
            padding-right: 0.75rem;
            color: #0b7fab;
            font-weight: 700; }
            @media (max-width: 480px) {
              .sub-detail--text-box .list li span {
                padding: 0 0 0.5rem;
                width: 100%; } }
.sub .footer {
  background-color: #000; }

/*# sourceMappingURL=sub.css.map */
