$browser-context: 20;

// Break Point
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$bigDesktop: 1600px;

$white: #fff;
$black: #000;
$l-black: #333;
$gray: #555;
$l-beige: #faf7f5;
$primary-color: #0b7fab;
$primary-font: 'Alegreya Sans SC', sans-serif;
$lato-font: 'Lato', sans-serif;
