@import '_mixin';


.main-visual {
    position: relative;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    overflow: hidden;
    &--inner {
        position: relative;
        height: 100%;
        background: {
            image: url("../../../img/img-cloud02.png"),
                url("../../../img/img-cloud01.png"),
                url("http://pngimg.com/uploads/cloud/cloud_PNG7.png"),
                url("../../../img/img-cloud02.png"),
                linear-gradient(to top, #cfe7f1 40% 60%, #9ecadd 90%);
            size: 60%, 40%, 50%, 60%, cover;
            repeat: no-repeat;
            position: left -400px top 40%,
                right -10% top 40%,
                left 70% top -50%,
                left -100% top -30%,
                100%;
        }     
        @include animation('20s 1s ease-out infinite alternate moveCloud');
    }
    &--content {
        position: absolute;
        bottom: 50vh;
        left: 50%;
        width: 100%;
        @include transform(translate(-50%, 50%));
        .text {
            padding: 0 rem(5);
            font: {
                family: $lato-font;
                size: rem(120);
                weight: 900;
            }
            @include desktop {
                font: {
                    size: rem(85);
                }
            }
            color: $white;
            text-align: center;
            letter-spacing: rem(-8);
            br {
                display: none;
            }
            @include desktop {
                br {
                    display: block;
                }
            }
            span {
                position: relative;
                top: 16px;
                display: inline-block;
                opacity: 0;
                @include animation('.3s ease-in both visualText');
                text-shadow: 1px 1px #595e42,
                    2px 2px #565d37,
                    3px 3px #565f2f,
                    4px 4px #545e28,
                    5px 5px #545f21,
                    6px 6px #535f1b,
                    7px 7px #526015,
                    8px 8px #505f0e,
                    9px 9px #4f5f08,
                    10px 10px #516100,
                    10px 10px 30px rgba(0, 0, 0, 0.7);
                &.mg-r50 {
                    margin-right: 50px;
                    @include desktop {
                        margin-right: 0;
                    }
                }
            }
            @for $i from 1 through 11 {
                span:nth-of-type(#{$i}) {
                    animation-delay: 1s + (.2s * $i);
                }
            }
        }
    }
    &--bg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: {
            size: cover;
            repeat: no-repeat;
            position: center;
        }
        opacity: 0;
        &.bg01 {
            background: {
                image: url('../../../img/img-mountain01.png');
            }
            @include animation('1.2s .5s ease-in-out both fadeIn, 1s .5s ease-in-out both slideUp');
        }
        &.bg02 {
            background: {
                image: url('../../../img/img-mountain03.png');
            }
            @include animation('1.2s 1s ease-in-out both fadeIn, 1.2s 1s ease-in-out both slideUp');
        }
        &.bg03 {
            background: {
                image: url('../../../img/img-mountain02.png');
            }
            @include animation('1.2s 1.5s ease-in-out both fadeIn, 1.2s 1.5s ease-in-out both slideUp');
        }
    }  
    &--bird {
        position: absolute;
        top: 30%;
        left: -10%;
        width: 88px;
        height: 125px;
        background: {
            image: url(../../../img/img-bird.svg);
            size: auto 100%;
        }
        @include transform(scale(0) translateX(-10vw));
        will-change: transform, background-position;
        filter: contrast(0.3) blur(.7px) opacity(.5);
        &.bird01 {
            @include animation('1s -.5s steps(10) infinite flutterWings, 15s 0s linear infinite flyingBirds');
        }
        &.bird02 {
            top: 20%;
            @include animation('1.2s -.75s steps(10) infinite flutterWings, 17s 1s linear infinite flyingBirds');
        }
        &.bird03 {
            top: 10%;
            @include animation('.5s -.4s steps(10) infinite flutterWings, 14.5s 5.5s linear infinite flyingBirds');
        }
        &.bird04 {
            @include animation('.8s -.25s steps(10) infinite flutterWings, 16s 3s linear infinite flyingBirds');
        }
    }
    .btn-scroll {
        position: absolute;
        bottom: 20px;
        left: 50%;
        text-align: center;
        @include transform(translateX(-50%));
        z-index: 10;  
        @include animation('1s 2.5s linear both fadeIn');
        @include hover {
            &:hover {
                @include opacity;
            }
        }
        .text {
            font: {
                size: 12px;
                weight: 700;
            }
            color: $white;
            opacity: .5;
            @include transition (opacity 1s ease);

            &::before {
                content: '';
                position: absolute;
                top: 27px;
                left: 50%;
                width: rem(5);
                height: rem(10);
                border-radius: rem(3);
                background-color: $white;
                @include transform(translateX(-50%));
                opacity: .5;
                @include animation ('.75s 0s linear infinite scrollWheel');
                @include transition (opacity 1s ease);
            }
            &::after {
                content: '';
                display: block;
                margin: 5px auto 0;
                width: rem(30);
                height: rem(50);
                border: 2px solid $white;
                border-radius: rem(15);
                opacity: .5;
                @include transition (opacity 1s ease);
            }
        }
        @include hover {
            &:hover .text {
                @include opacity;
        
                &::before {
                    @include opacity;
                }
        
                &::after {
                    @include opacity;
                }
            }
        }
        
    }
}


.section {
    h2 {
        padding: 0 rem(25) rem(50);
        opacity: 0;
        @include transform(translateY(50px));
        @include transition('transform .6s linear, opacity .8s linear .3s');
        &.is-active {
            @include transform(none);
            opacity: 1;
        }
        font: {
            family: $primary-font;
            size: rem(55);
            weight: 800;
        }
        letter-spacing: rem(-3);
        @include mobile {
            font: {
                size: rem(45);
            }
        }
        span {
            position: relative;
            display: inline-block;
            @include animation('1.8s ease infinite titleFlow');
            @for $i from 1 through 15 {
                &:nth-of-type(#{$i}) {
                    animation-delay: .3s * $i;
                }
            }
        }
    }
    &.profile { 
        background: $white;
        .profile {
            &-inner {
                max-width: 1400px;
                margin: 0 auto;     
                padding: rem(200) 0 rem(250);
                @include desktop {
                    padding: rem(100) 0 rem(70);
                }
            }
            &-content {
                display: flex;
                justify-content: center;
                align-items: center;
                @include desktop {
                    flex-wrap: wrap;
                }
            }
            &-intro {
                position: relative;
                margin-right: rem(50);
                padding-left: rem(50);
                @include desktop {
                    margin-right: 0;
                    padding-left: 0;
                }
            }
            &-img {
                position: relative;
                width: rem(450);
                @include topOpacityOff;
                @include transition('top .6s linear, opacity .7s linear .3s');
                &.is-active {
                    @include topOpacityOn;
                }
                @include mobile {
                    width: rem(370);
                }
                img {
                    width: 100%;
                    height: 100%;
                    border: 2px solid $black;
                    border-radius: rem(15);
                }
               
            }
            &-name {
                position: absolute;
                top: calc(100% - 130px);
                left: 10px;
                width: rem(400);
                height: rem(180);
                @include desktop {
                    top: calc(100% - 110px);
                    left: rem(-40);
                }
                @include mobile {
                    top: calc(100% - 100px);
                    left: -10px;
                }
                &.is-active {
                    text {
                        @include animation('4s linear both textStroke, 3s linear both textFill');
                    }
                }
                text {
                    font: {
                        family: 'Dancing Script', cursive;
                        size: 100px;
                        weight: 900;
                    }
                    fill: $white;
                    fill-opacity: 0;
                    stroke: #043b5c;
                    stroke-width: 2px;
                    stroke-dasharray: 850;
                    stroke-dashoffset: 850;
                }
            }      
            &-text {
                padding-right: rem(50);
                @include desktop {
                    padding: rem(100) rem(25) 0;
                }
                @include tablet {
                    padding-top: rem(60);
                }
                >.text {
                    margin-bottom: rem(15);
                    font-size: rem(20);
                    line-height:rem(40);
                    color: $gray;
                    opacity: 0;
                    @include transform(translateY(50px));
                    @include transition('transform .6s linear, opacity .9s ease .3s');
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    @for $i from 1 through 4 {
                        &:nth-of-type(#{$i}) {
                            transition-delay: .3s * $i;
                        }
                    }
                    &.is-active {
                        @include transform(none);
                        opacity: 1;
                    }
                    strong {
                        color: $primary-color;
                        span {
                            font-family: $lato-font;
                        }
                    }                    
                }
                .btn {
                    margin-top: rem(30);
                    &-more {
                        display: block;
                        position: relative;
                        width: rem(170);
                        height: auto;

                        opacity: 0;
                        @include transform(translateY(50px));
                        @include transition('transform .4s linear .3s, opacity .6s ease .4s');

                        @include mobile {
                            padding: 0 rem(20);
                        }

                        &.is-active {
                            @include transform(none);
                            opacity: 1;
                        }

                        .circle {
                            position: relative;
                            display: block;
                            width: rem(40);
                            height: rem(40);
                            background-color: $black;
                            border-radius: 40px;
                            @include transition(all 0.45s cubic-bezier(0.65, 0, .076, 1));

                            .icon {
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                                background: $black;
                                @include transition(all 0.45s cubic-bezier(0.65, 0, .076, 1));

                                &.arrow {
                                    left: 0;
                                    width: 24px;
                                    height: 2px;
                                    background: none;
                                    @include transition(all 0.45s cubic-bezier(0.65, 0, .076, 1));

                                    @include tablet {
                                        width: 20px;
                                    }

                                    @include mobile {
                                        width: 18px;
                                    }

                                    &::before {
                                        content: '';
                                        position: absolute;
                                        top: -4px;
                                        right: 1px;
                                        width: 7px;
                                        height: 7px;
                                        border-top: 2px solid $white;
                                        border-right: 2px solid $white;
                                        @include transform(rotate(45deg));
                                    }
                                }
                            }
                        }
                        .text {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            padding: 12px 0 10px;
                            margin: 0 0 0 15px;
                            color: $black;

                            font: {
                                family: $lato-font;
                                weight: 700;
                                size: rem(16);
                            }

                            line-height: 1;
                            text-align: center;

                            @include tablet {
                                padding: 10px 0;
                            }
                        }

                        @include hover {
                            &:hover {
                                .circle {
                                    width: 100%;

                                    .icon {
                                        &.arrow {
                                            background: $black;
                                            @include transform(translate(20px, 0));
                                        }
                                    }
                                }
                                .text {
                                    color: $white;
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
    &.work {
        background-color: $l-beige;
        
        .work {
            &-inner {
                padding: rem(200) 0 rem(100);
                @include desktop {
                    padding: rem(100) 0 rem(70);
                }
            }
            &-title {
                margin: 0 auto;
                padding-bottom: 0;
                max-width: 1400px;
            }
            &-content {

            }
            &-list {
                >li {
                    display: flex;
                    position: relative;
                    @include mobile {
                        display: block;
                    }
                }
            }
            &-list {
                &1 {
                    background-color: $l-beige;
                    @include transition('opacity .8s ease');
                    @include mobile {
                        .work-img--list {
                            img {
                                &:not(.first) {
                                    display: none !important;
                                }
                            }
                        }
                    }
                    &.is-active {
                        opacity: 1;
                    }
                }
                &2 {
                    background-color: $white;
                }
                &3 {
                    background-color: $l-beige;
                    @include transition('opacity .8s ease');
                    &.is-active {
                        opacity: 1;
                    }
                }
                &4 {
                    background-color: $white;
                }
                &5 {
                    background-color: $l-beige;
                    @include transition('opacity .8s ease');
                    &.is-active {
                        opacity: 1;
                    }
                }     
                &--inner {
                    display: flex;
                    align-items: center;
                    max-width: 1400px;
                    width: 100%;
                    margin: 0 auto;
                    @include mobile {
                        display: block;
                        padding: rem(70) 0;
                        box-sizing: border-box;
                    }
                }  
            }
            &-img {
                width: 40%;
                @include mobile {
                    width: auto;
                    padding: 0 rem(25);
                    // @include transform(translateY(50px));
                    // @include transition('transform .6s linear, opacity .8s ease .3s');
                }
                &.is-active {
                    opacity: 1;
                    @include mobile {
                        @include transform(none);
                    }
                }

                &:not(.first) {
                    display: none;
            
                    @include mobile {
                        display: block;
                    }
                }

                &--box {
                    position: relative;
                    left: 0;
                    height: 450px;
                    z-index: 1;
                    @include tablet {
                        height: 350px;
                    }
                    @include mobile {
                        position: static;
                        height: auto;
                    }
                }
                &--list {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    border: 2px solid $l-black;
                    overflow: hidden;
                    @include mobile {
                        position: static;
                        height: 250px;
                        overflow: unset;
                    }
                    img {
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                        &:not(.first) {
                            position: absolute;
                            top: 0;
                            @include transform(translateY(100%));
                            @include mobile {
                                position: static;
                                @include transform(none);
                            }
                        }
                          
                        @for $i from 1 through 5 {
                            &:nth-of-type(#{$i}) {
                                z-index: $i;
                            }
                        }
                    }
                }
            }
            .pin-spacer {
                z-index: 1 !important;
            }
            &-text {
                width: 60%;
                padding: rem(150) 0 rem(150) rem(80);
                margin: 0 0 0 auto;
                box-sizing: border-box;
                @include desktop {
                    padding-left: rem(30);
                }
                @include mobile {
                    width: auto;
                    padding: rem(30) 0 0;

                }
                &--tit {
                    font: {
                        size: rem(40);
                        weight: 700;
                    }
                    color: $black;
                    line-height: rem(50);
                    opacity: 0;
                    @include transform(translateY(50px));
                    @include transition('transform .4s linear .3s, opacity .6s ease .4s');
                    @include mobile {
                        padding: 0 rem(20);
                    }
                    &.is-active {
                        @include transform(none);
                        opacity: 1;
                    }
                }
                p {
                    margin-top: 10px;
                    font: {
                        size: rem(25);
                        weight: 500;
                    }
                    color: $black;
                    line-height: rem(35);
                    opacity: 0;
                    @include transform(translateY(50px));
                    @include transition('transform .4s linear .3s, opacity .6s ease .4s');
                    @include mobile {
                        padding: 0 rem(20);
                    }
                    &.is-active {
                        @include transform(none);
                        opacity: 1;
                    }
                }
                &--detail {
                    display: flex;
                    flex-wrap: wrap;
                    gap: rem(10);
                    margin-top: rem(25);
                    opacity: 0;
                    @include transform(translateY(50px));
                    @include transition('transform .4s linear .3s, opacity .6s ease .4s');
                    &.is-active {
                        opacity: 1;
                        @include transform(none);
                    }
                    @include mobile {
                        padding: 0 rem(20);
                    }
                    li {
                        padding: rem(8) rem(12) rem(6);
                        border: 1px solid $l-black;
                        border-radius: 20px;
                        background: $l-black;
                        text-align: center;
                        font-size: rem(16);
                        color: $white;
                        line-height: rem(21);
                    }
                }
                &--img {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: rem(30);
                    margin-bottom: rem(50);
                    opacity: 0;
                    @include transform(translateY(50px));
                    @include transition('transform .4s linear .3s, opacity .6s ease .4s');

                    @include desktop {
                        display: block;
                        overflow-x: auto;
                        overflow-y: hidden;
                        white-space: nowrap;
                        font-size: 0;
                    }
                    @include mobile {
                        padding-left: rem(20);
                    }
                    &.is-active {
                        opacity: 1;
                        @include transform(none);
                    }

                    li {
                        margin-right: rem(15);
                        margin-bottom: rem(15);
                        width: rem(200);
                        height: rem(100);
                        border : 1px solid $l-black;
                        overflow: hidden;
                        cursor: pointer;
                        @include desktop {
                            display: inline-block;
                            margin-bottom: 0;
                        }
                        
                        img {
                            width: 100%;
                            height: 100%;
                            object-position: top;
                            object-fit: cover;
                        }
                       
                        &:hover {
                            position: relative;
                    
                            &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: $gray;
                                opacity: .7;
                                z-index: 1;
                            }
                    
                            &::after {
                                content: 'Click Me!';
                                position: absolute;
                                top: 50%;
                                left: 50%;
                    
                                font: {
                                    family: $lato-font;
                                    size: rem(22);
                                    weight: 500;
                                }
                    
                                line-height: rem(28);
                                color: $white;
                                @include transform(translate(-50%, -50%));
                                z-index: 2;
                    
                            }
                    
                            img {
                                @include transform(scale(1.1));
                                @include transition(all .5s ease);
                            }
                        }
                    }
                }
                &--more {
                    display: block;
                    position: relative;
                    width: rem(170);
                    height: auto;

                    opacity: 0;
                    @include transform(translateY(50px));
                    @include transition('transform .4s linear .3s, opacity .6s ease .4s');

                    @include mobile {
                        padding: 0 rem(20);
                    }
                    &.is-active {
                        @include transform(none);
                        opacity: 1;
                    }
                    .circle {
                        position: relative;
                        display: block;
                        width: rem(40);
                        height: rem(40);
                        background-color: $black;
                        border-radius: 40px;
                        @include transition(all 0.45s cubic-bezier(0.65, 0, .076, 1));
                        .icon {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            background: $black;
                            @include transition(all 0.45s cubic-bezier(0.65, 0, .076, 1));
                            &.arrow {
                                left: 0;
                                width: 24px;
                                height: 2px;
                                background: none;
                                @include transition(all 0.45s cubic-bezier(0.65, 0, .076, 1));
                                @include tablet {
                                    width: 20px;
                                }
                                @include mobile {
                                    width: 18px;
                                } 
                                &::before {
                                    content: '';
                                    position: absolute;
                                    top: -4px;
                                    right: 1px;
                                    width: 7px;
                                    height: 7px;
                                    border-top: 2px solid $white;
                                    border-right: 2px solid $white;
                                    @include transform(rotate(45deg));
                                }
                            }
                        }
                    }
                    .text {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        padding: 12px 0 10px;
                        margin: 0 0 0 15px;
                        color: $black;
                        font: {
                            family: $lato-font;
                            weight: 700;
                            size: rem(16);
                        }
                        line-height: 1;
                        text-align: center;
                        @include tablet {
                            padding: 10px 0;
                        }
                    }
                    @include hover {
                        &:hover {
                            .circle {
                                width: 100%;
                    
                                .icon {
                                    &.arrow {
                                        background: $black;
                                        @include transform(translate(20px, 0));
                                    }
                                }
                            }
                    
                            .text {
                                color: $white;
                            }
                        }
                    }
                    
                }
            }
        }        
    }
    &.contact {
        .contact {
            &-inner {
                margin: 0 auto;
                padding: rem(200) 0 rem(100);
                max-width: 1400px;
        
                @include desktop {
                    padding: rem(100) 0 rem(70);
                }
            }
            &-title {
                color: $white;
            }
            &-content {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                padding: 0 rem(25);
                @include desktop {
                    display: block;
                }
            }
            &-text {
                padding-right: rem(50);
                @include desktop {
                    padding: 0 0 rem(50);
                }
                p {
                    padding-bottom: rem(25);
                    color: $white;
                    font-size: rem(20);
                    line-height: rem(35);
                    @include transform(translateY(50px));
                    @include transition('transform .4s linear .3s, opacity .6s ease .4s');
                    @for $i from 1 through 3 {
                        &:nth-of-type(#{$i}) {
                            transition-delay: .3s * $i;
                        }
                    }
                    opacity: 0;
                    &.slo {
                        padding-bottom: rem(30);
                        font: {
                            family: $primary-font;
                            size: rem(40);
                        }
                    }
                    &.is-active {
                        @include transform(none);
                        opacity: 1;
                    }
                }
            }
            &-email {
                width: 40%;
                @include desktop{
                    width: auto;
                }
                .email {
                    &-input {
                        margin-bottom: rem(20);
                        @include transform(translateY(50px));
                        @include transition('transform .4s linear .3s, opacity .6s ease .4s'); 
                        @for $i from 1 through 4 {
                            &:nth-of-type(#{$i}) {
                                transition-delay: .2s * $i;
                            }
                        }
                        opacity: 0;
                        &:nth-of-type(4) {
                            margin-bottom:0;
                        }
                        &.is-active {
                            @include transform(none);
                            opacity: 1;
                        }
                        input {
                            padding: rem(20);
                            width: 100%;
                            height: rem(60);
                            border: none;
                            border-radius: 10px;
                            background-color: rgba(255, 255, 255, .7);
                            font: {
                                size: rem(20);
                            }
                            box-sizing: border-box;
                            &::placeholder {
                                font-family: $lato-font;
                                color: $l-black;
                            }
                            &.name {
                                width: 50%;
                            }
                            
                        }
                        textarea {
                            width: 100%;
                            height: rem(300);
                            padding: rem(20);
                            border: none;
                            border-radius: 10px;
                            background-color: rgba(255,255,255,.7);
                            font: {
                                size: rem(20);
                            }
                            line-height: rem(25);
                            box-sizing: border-box;
                            &::placeholder {
                                font-family: $lato-font;
                                color: $l-black;
                            }
                        }
                        .btn-send {
                            display: block;
                            margin: 0 auto;
                            padding: rem(15);
                            width: 50%;
                            border: none;
                            border-radius: 10px;
                            background-color: rgba(255, 255, 255, .7);
                            font: {
                                family: $lato-font;
                                weight: 700;
                                size: rem(18);
                            }
                            color: $black;
                            @include transition(all .4s linear);
                            @include hover {
                                &:hover {
                                    width: 100%;
                                    background-color: $black;
                                    color: $white;
                                }
                            }
                            
                        }
                        
                    }
                    &-message {
                        padding-bottom: rem(40);
                        font: {
                            size: rem(20);
                            weight: 700;
                        }
                        line-height: rem(25);
                        text-align: center;
                        color: $white;
                    }
                    &-return {
                        .btn-return {
                            display: block;
                            margin: 0 auto;
                            padding: rem(15);
                            width: 50%;
                            border: none;
                            border-radius: 10px;
                            background-color: rgba(255, 255, 255, .7);
                        
                            font: {
                                family: $lato-font;
                                weight: 700;
                                size: rem(18);
                            }
                        
                            color: $black;
                            @include transition(all .4s linear);
                            @include hover {
                                &:hover {
                                    width: 100%;
                                    background-color: $black;
                                    color: $white;
                                }
                            }
                            
                        }
                        
                    }
                }
            }
            &-bg {
                position: fixed;
                bottom: 0;
                width: 100%;
                height: 100vh;
                background: {
                    image: url(../../../img/bg-contact.jpg);
                    repeat: no-repeat;
                    size: cover;
                    position: top;
                }
                z-index: -1;
                &::before {
                    content:'';
                    position: absolute;
                    bottom:0;
                    width:100%;
                    height: 100vh;
                    background: grey;
                    opacity: .3;
                }

            }
        }
    }
}



@include keyframe (moveCloud) {
    100% {
        background: {
            position: left 0 top 40%,
                right -60% top 40%,
                left 120% top -50%,
                left -50% top -30%,
                100%;
        }
    }

}

@include keyframe (fadeIn) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframe (slideUp) {
    0% {
        @include transform(translateY(8%));
    }
    100% {
        @include transform(translateY(0));
    }
}

@include keyframe (visualText) {
    50% {
        @include transform(rotateX(180deg));
    }
    100% {
        top: 0;
        opacity: 1;
        @include transform(rotateX(360deg));
    }
}

@include keyframe (flutterWings) {
    100% {
        background-position: -900px 0;
    }
}

@include keyframe (flyingBirds) {
    0% {
        @include transform(translateX(-10vw) scale(0.4));
    }
    
    10% {
        @include transform(translateY(2vh) translateX(10vw) scale(0.5));
    }

    20% {
        @include transform(translateY(0vh) translateX(30vw) scale(0.5));
    }

    30% {
        @include transform(translateY(4vh) translateX(50vw) scale(0.6));
    }

    40% {
        @include transform(translateY(2vh) translateX(70vw) scale(0.6));
    }

    50% {
        @include transform(translateY(4vh) translateX(90vw) scale(0.7));
    }

    60% {
        @include transform(translateY(3vh) translateX(110vw) scale(0.7));
    }

    100% {
        @include transform(translateY(0vh) translateX(110vw) scale(0.8));
    }
}

@include keyframe (scrollWheel) {
    100% {
        top: 33px;
    }
}

@include keyframe (titleFlow) {
    0% {
        top: 0;
    }
    20% {
        top: rem(-5);
    }
    40% {
        top: 0;
    }
    100% {
        top: 0;
    }
}

@include keyframe (textStroke) {
    100% {
        stroke-dashoffset: 0px;
        // stroke-dasharray: 0;
    }
}

@include keyframe (textFill) {
    100% {
        fill-opacity: 1;
    }
}
